[Unit]
Description=Hayward HeatPro Bluetooth Provisioning
After=bluetooth.service network.target
Requires=bluetooth.service
Wants=rfkill.service

[Service]
Type=simple
ExecStartPre=/usr/sbin/modprobe rfcomm
ExecStartPre=/usr/sbin/rfkill unblock bluetooth
ExecStartPre=/bin/sleep 3
ExecStart=/usr/local/bin/hayward-provisioning-server
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
